In [1]:
import numpy as np
import pandas as pd
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [2]:
data1 = pd.read_csv("/Users/rjy/Desktop/20240516 XIY西安落地/data1.csv")
data1

,flt_id,日期,航班号,机型,re,source_type,utc_time,北京时间,updated_time,出发机场,到达机场,经度,纬度,高度,gv,co,distance
0,436427143,2024-03-29 00:00:00,MU2216,A320,B6616,CAST,2024-03-29 08:55:54,2024-03-29 16:55:54,2024-03-29 16:56:04,DNH,XIY,94.80663,40.16383,0.0,7.0,186.0,1451.368
1,436427143,2024-03-29 00:00:00,MU2216,A320,B6616,CAST,2024-03-29 08:56:51,2024-03-29 16:56:51,2024-03-29 16:56:58,DNH,XIY,94.80685,40.16217,0.0,18.0,174.0,1451.274
2,436427143,2024-03-29 00:00:00,MU2216,A320,B6616,CAST,2024-03-29 08:57:57,2024-03-29 16:57:57,2024-03-29 16:58:04,DNH,XIY,94.81227,40.16201,0.0,47.0,84.0,1450.823
3,436427143,2024-03-29 00:00:00,MU2216,A320,B6616,CAST,2024-03-29 08:58:55,2024-03-29 16:58:55,2024-03-29 16:59:04,DNH,XIY,94.82037,40.16265,0.0,47.0,84.0,1450.191
4,436427143,2024-03-29 00:00:00,MU2216,A320,B6616,CAST,2024-03-29 08:59:56,2024-03-29 16:59:56,2024-03-29 17:00:04,DNH,XIY,94.82918,40.16335,0.0,36.0,82.0,1449.503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65529,436533782,2024-03-24 00:00:00,MU5791,B737,B5256,CAST,2024-03-24 02:09:58,2024-03-24 10:09:58,2024-03-24 10:10:10,JHG,XIY,106.59897,31.78857,9152.0,976.0,47.0,363.498
65530,436533782,2024-03-24 00:00:00,MU5791,B737,B5256,CAST,2024-03-24 02:10:59,2024-03-24 10:10:59,2024-03-24 10:11:10,JHG,XIY,106.71984,31.88456,8862.0,961.0,47.0,347.579
65531,436533782,2024-03-24 00:00:00,MU5791,B737,B5256,CAST,2024-03-24 02:11:59,2024-03-24 10:11:59,2024-03-24 10:12:10,JHG,XIY,106.83400,31.97560,8550.0,891.0,46.0,332.548
65532,436533782,2024-03-24 00:00:00,MU5791,B737,B5256,CAST,2024-03-24 02:12:59,2024-03-24 10:12:59,2024-03-24 10:13:10,JHG,XIY,106.95053,32.06937,8230.0,907.0,47.0,317.168
65533,436533782,2024-03-24 00:00:00,MU5791,B737,B5256,CAST,2024-03-24 02:13:54,2024-03-24 10:13:54,2024-03-24 10:14:04,JHG,XIY,107.03450,32.13680,8108.0,845.0,46.0,306.131

In [3]:
data2 = pd.read_csv("/Users/rjy/Desktop/20240516 XIY西安落地/data2.csv")
data2

,flt_id,日期,航司,航班号,计划起飞,实际起飞,计划降落,实际降落,实际上轮档,计划始发站,...,month_of_year,week_of_year,day_of_week,day_of_year,minutes_of_day,计划飞行时长,实际飞行时长,实际滑行时长,实际上轮档时长,机型
0,436862027,2024/3/13 0:00,MU,6531,2024/3/13 20:10,2024/3/13 20:09,2024/3/13 22:25,2024/3/13 22:06,2024/3/13 22:15,TAO,...,3,11,3,73,1345,135,117.0,9.0,126.0,32L
1,436715014,2024/3/13 0:00,MU,2302,2024/3/13 13:40,2024/3/13 13:59,2024/3/13 16:25,2024/3/13 16:14,2024/3/13 16:20,CAN,...,3,11,3,73,985,165,135.0,6.0,141.0,32L
2,436646603,2024/3/13 0:00,MU,2683,2024/3/13 8:20,2024/3/13 8:26,2024/3/13 10:40,2024/3/13 10:26,2024/3/13 10:31,NTG,...,3,11,3,73,640,140,120.0,5.0,125.0,320
3,436875693,2024/3/13 0:00,MU,5553,2024/3/13 14:50,2024/3/13 14:44,2024/3/13 16:45,2024/3/13 16:20,2024/3/13 16:24,KHN,...,3,11,3,73,1005,115,96.0,4.0,100.0,320
4,436800832,2024/3/13 0:00,MU,9878,2024/3/13 9:25,2024/3/13 9:45,2024/3/13 10:50,2024/3/13 11:20,2024/3/13 11:25,WUH,...,3,11,3,73,650,85,95.0,5.0,100.0,320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6977,437406475,2024/4/30 0:00,MU,9990,2024/4/30 9:00,2024/4/30 9:09,2024/4/30 10:25,2024/4/30 10:12,2024/4/30 10:21,DSN,...,4,18,2,121,625,85,63.0,9.0,72.0,32L
6978,437378337,2024/4/30 0:00,MU,2126,2024/4/30 9:20,2024/4/30 9:19,2024/4/30 10:55,2024/4/30 10:37,2024/4/30 10:50,WUH,...,4,18,2,121,655,95,78.0,13.0,91.0,32L
6979,437574017,2024/4/30 0:00,MU,706,2024/4/30 3:00,2024/4/30 3:18,2024/4/30 11:15,2024/4/30 10:02,2024/4/30 10:06,DXB,...,4,18,2,121,675,495,404.0,4.0,408.0,33H
6980,437498036,2024/4/30 0:00,MU,2104,2024/4/30 9:00,2024/4/30 9:13,2024/4/30 11:05,2024/4/30 10:53,2024/4/30 11:07,PKX,...,4,18,2,121,665,125,100.0,14.0,114.0,325
6981,437136616,2024/4/30 0:00,MU,6955,2024/4/30 6:50,2024/4/30 10:12,2024/4/30 9:10,2024/4/30 12:23,2024/4/30 12:33,CAN,...,4,18,2,121,550,140,131.0,10.0,141.0,73L

In [4]:
#进行合并
merged_data = pd.merge(data1, data2, on='flt_id', how='inner')
merged_data

,flt_id,日期_x,航班号_x,机型_x,re,source_type,utc_time,北京时间,updated_time,出发机场,...,month_of_year,week_of_year,day_of_week,day_of_year,minutes_of_day,计划飞行时长,实际飞行时长,实际滑行时长,实际上轮档时长,机型_y
0,436427143,2024-03-29 00:00:00,MU2216,A320,B6616,CAST,2024-03-29 08:55:54,2024-03-29 16:55:54,2024-03-29 16:56:04,DNH,...,3,13,5,89,1140,150,114.0,7.0,121.0,320
1,436427143,2024-03-29 00:00:00,MU2216,A320,B6616,CAST,2024-03-29 08:56:51,2024-03-29 16:56:51,2024-03-29 16:56:58,DNH,...,3,13,5,89,1140,150,114.0,7.0,121.0,320
2,436427143,2024-03-29 00:00:00,MU2216,A320,B6616,CAST,2024-03-29 08:57:57,2024-03-29 16:57:57,2024-03-29 16:58:04,DNH,...,3,13,5,89,1140,150,114.0,7.0,121.0,320
3,436427143,2024-03-29 00:00:00,MU2216,A320,B6616,CAST,2024-03-29 08:58:55,2024-03-29 16:58:55,2024-03-29 16:59:04,DNH,...,3,13,5,89,1140,150,114.0,7.0,121.0,320
4,436427143,2024-03-29 00:00:00,MU2216,A320,B6616,CAST,2024-03-29 08:59:56,2024-03-29 16:59:56,2024-03-29 17:00:04,DNH,...,3,13,5,89,1140,150,114.0,7.0,121.0,320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65477,436533782,2024-03-24 00:00:00,MU5791,B737,B5256,CAST,2024-03-24 02:09:58,2024-03-24 10:09:58,2024-03-24 10:10:10,JHG,...,3,12,0,84,670,155,134.0,13.0,147.0,737
65478,436533782,2024-03-24 00:00:00,MU5791,B737,B5256,CAST,2024-03-24 02:10:59,2024-03-24 10:10:59,2024-03-24 10:11:10,JHG,...,3,12,0,84,670,155,134.0,13.0,147.0,737
65479,436533782,2024-03-24 00:00:00,MU5791,B737,B5256,CAST,2024-03-24 02:11:59,2024-03-24 10:11:59,2024-03-24 10:12:10,JHG,...,3,12,0,84,670,155,134.0,13.0,147.0,737
65480,436533782,2024-03-24 00:00:00,MU5791,B737,B5256,CAST,2024-03-24 02:12:59,2024-03-24 10:12:59,2024-03-24 10:13:10,JHG,...,3,12,0,84,670,155,134.0,13.0,147.0,737
65481,436533782,2024-03-24 00:00:00,MU5791,B737,B5256,CAST,2024-03-24 02:13:54,2024-03-24 10:13:54,2024-03-24 10:14:04,JHG,...,3,12,0,84,670,155,134.0,13.0,147.0,737

In [5]:
print(merged_data.columns)

Index(['flt_id', '日期_x', '航班号_x', '机型_x', 're', 'source_type', 'utc_time',
       '北京时间', 'updated_time', '出发机场', '到达机场', '经度', '纬度', '高度', 'gv', 'co',
       'distance', '日期_y', '航司', '航班号_y', '计划起飞', '实际起飞', '计划降落', '实际降落',
       '实际上轮档', '计划始发站', '实际始发站', '计划到达站', '实际到达站', 'month_of_year',
       'week_of_year', 'day_of_week', 'day_of_year', 'minutes_of_day',
       '计划飞行时长', '实际飞行时长', '实际滑行时长', '实际上轮档时长', '机型_y'],
      dtype='object')

In [6]:

merged_data_dropped = merged_data.drop(columns=['flt_id','month_of_year', 'week_of_year', 'day_of_week', 'day_of_year', 'minutes_of_day'])

merged_data['实际降落'] = pd.to_datetime(merged_data['实际降落'])
merged_data['北京时间'] = pd.to_datetime(merged_data['北京时间'])

merged_data['时间差分钟'] = (merged_data['实际降落'] - merged_data['北京时间']).dt.total_seconds() / 60

target_on_block = merged_data['时间差分钟']

features_on_block = merged_data_dropped.select_dtypes(include=[np.number])


X_train, X_test, y_train, y_test = train_test_split(features_on_block, target_on_block, test_size=0.3, random_state=42)


model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
model
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)

feature_importance = model.feature_importances_
feature_importance_dict = {feature: importance for feature, importance in zip(features_on_block.columns, feature_importance)}


mse, feature_importance_dict

(5.377498788010248,
 {'经度': 0.017682458643158476,
  '纬度': 0.0020470520493565876,
  '高度': 0.014768873525692738,
  'gv': 0.006420134378629896,
  'co': 0.0008286388972799126,
  'distance': 0.9505637474538601,
  '计划飞行时长': 0.0006479171891560281,
  '实际飞行时长': 0.0027876635069667183,
  '实际滑行时长': 0.000892959680326003,
  '实际上轮档时长': 0.003360554675573651})

In [7]:
#新数据
data3 = pd.read_csv("/Users/rjy/Desktop/20240516 XIY西安落地 测试集/data3.csv")
data3

,flt_id,flt_std_dt_bj,carrier_iata_cd,flt_nbr,flt_std_dttm_bj,flt_atd_dttm_bj,flt_sta_dttm_bj,flt_ata_dttm_bj,flt_act_block_on_dttm_bj,sch_dep_apt,...,month_of_year,week_of_year,day_of_week,day_of_year,plan_dest_minutes,plan_fly_minutes,real_fly_minutes,real_taxiing_minutes,real_block_minutes,aircraft_mkt_type
0,437062891,2024-05-01 00:00:00,MU,2386,2024-05-01 17:10:00,2024-05-01 17:15:00,2024-05-01 21:05:00,2024-05-01 20:55:00,2024-05-01 21:08:00,HTN,...,5,18,3,122,1265,235,220,13,233,32L
1,437224555,2024-05-01 00:00:00,MU,2274,2024-05-01 23:30:00,2024-05-02 00:13:00,2024-05-02 01:05:00,2024-05-02 01:28:00,2024-05-02 01:36:00,BAV,...,5,18,4,123,65,95,75,8,83,32L
2,437539588,2024-05-01 00:00:00,MU,2202,2024-05-01 17:45:00,2024-05-01 18:01:00,2024-05-01 20:00:00,2024-05-01 19:55:00,2024-05-01 20:08:00,TAO,...,5,18,3,122,1200,135,114,13,127,320
3,437288045,2024-05-01 00:00:00,MU,5022,2024-05-01 16:00:00,2024-05-01 16:29:00,2024-05-01 18:15:00,2024-05-01 18:22:00,2024-05-01 18:32:00,TAO,...,5,18,3,122,1095,135,113,10,123,320
4,437569709,2024-05-01 00:00:00,MU,9962,2024-05-01 22:30:00,2024-05-01 22:30:00,2024-05-02 01:25:00,2024-05-02 00:58:00,2024-05-02 01:13:00,HYN,...,5,18,4,123,85,175,148,15,163,319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2217,437581307,2024-05-15 00:00:00,MU,2955,2024-05-15 07:20:00,2024-05-15 07:40:00,2024-05-15 09:35:00,2024-05-15 09:37:00,2024-05-15 09:49:00,WUX,...,5,20,3,136,575,135,117,12,129,320
2218,437456195,2024-05-15 00:00:00,MU,2342,2024-05-15 09:35:00,2024-05-15 09:50:00,2024-05-15 12:15:00,2024-05-15 12:18:00,2024-05-15 12:29:00,ZUH,...,5,20,3,136,735,160,148,11,159,32L
2219,437414483,2024-05-15 00:00:00,MU,6510,2024-05-15 09:50:00,2024-05-15 09:58:00,2024-05-15 12:25:00,2024-05-15 12:11:00,2024-05-15 12:22:00,YIW,...,5,20,3,136,745,155,133,11,144,319
2220,437499479,2024-05-15 00:00:00,MU,2152,2024-05-15 08:20:00,2024-05-15 08:41:00,2024-05-15 10:40:00,2024-05-15 10:47:00,2024-05-15 10:54:00,SHA,...,5,20,3,136,640,140,126,7,133,919
2221,436968144,2024-05-15 00:00:00,MU,2106,2024-05-15 10:00:00,2024-05-15 10:04:00,2024-05-15 12:00:00,2024-05-15 11:44:00,2024-05-15 12:00:00,PKX,...,5,20,3,136,720,120,100,16,116,325

In [9]:
data4 = pd.read_csv("/Users/rjy/Desktop/20240516 XIY西安落地 测试集/data4.csv")
data4

,flt_id,flt_dt_bj,fn2,ft,re,source_type,utc_time,source_time,updated_time,orig_airport_cd,dest_airport_cd,lon,lat,he,gv,co,distance
0,436946390,2024-05-03 00:00:00,MU6160,A20N,B32CW,CAST,2024-05-03 11:58:56,2024-05-03 19:58:56,2024-05-03 19:59:07,SZX,XIY,113.80292,22.64846,0.0,18.0,73.0,1460.374
1,436946390,2024-05-03 00:00:00,MU6160,A20N,B32CW,CAST,2024-05-03 11:59:56,2024-05-03 19:59:56,2024-05-03 20:00:08,SZX,XIY,113.80193,22.65127,0.0,0.0,335.0,1460.030
2,436946390,2024-05-03 00:00:00,MU6160,A20N,B32CW,CAST,2024-05-03 12:00:53,2024-05-03 20:00:53,2024-05-03 20:01:08,SZX,XIY,113.80308,22.65286,0.0,0.0,70.0,1459.897
3,436946390,2024-05-03 00:00:00,MU6160,A20N,B32CW,CAST,2024-05-03 12:01:54,2024-05-03 20:01:54,2024-05-03 20:02:07,SZX,XIY,113.81179,22.63733,46.0,293.0,152.0,1461.916
4,436946390,2024-05-03 00:00:00,MU6160,A20N,B32CW,CAST,2024-05-03 12:02:51,2024-05-03 20:02:51,2024-05-03 20:03:04,SZX,XIY,113.82940,22.60419,800.0,270.0,154.0,1466.187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289523,437647970,2024-05-15 00:00:00,MU2999,A20N,B32CX,CAST,2024-05-14 22:36:59,2024-05-15 06:36:59,2024-05-15 06:37:10,XIY,XIY,108.75819,34.44744,0.0,19.0,138.0,10.938
289524,437647970,2024-05-15 00:00:00,MU2999,A20N,B32CX,CAST,2024-05-14 22:37:59,2024-05-15 06:37:59,2024-05-15 06:38:10,XIY,XIY,108.75778,34.44547,0.0,20.0,228.0,10.721
289525,437647970,2024-05-15 00:00:00,MU2999,A20N,B32CX,CAST,2024-05-14 22:38:59,2024-05-15 06:38:59,2024-05-15 06:39:10,XIY,XIY,108.75462,34.44317,0.0,25.0,231.0,10.336
289526,437647970,2024-05-15 00:00:00,MU2999,A20N,B32CX,CAST,2024-05-14 22:39:49,2024-05-15 06:39:49,2024-05-15 06:39:58,XIY,XIY,108.75260,34.44181,0.0,9.0,253.0,10.101
289527,437647970,2024-05-15 00:00:00,MU2999,A20N,B32CX,CAST,2024-05-14 22:40:39,2024-05-15 06:40:39,2024-05-15 06:40:46,XIY,XIY,108.75188,34.44245,0.0,3.0,318.0,10.131

In [10]:
#进行合并
merged_data2 = pd.merge(data3, data4, on='flt_id', how='inner')
merged_data2

,flt_id,flt_std_dt_bj,carrier_iata_cd,flt_nbr,flt_std_dttm_bj,flt_atd_dttm_bj,flt_sta_dttm_bj,flt_ata_dttm_bj,flt_act_block_on_dttm_bj,sch_dep_apt,...,source_time,updated_time,orig_airport_cd,dest_airport_cd,lon,lat,he,gv,co,distance
0,437062891,2024-05-01 00:00:00,MU,2386,2024-05-01 17:10:00,2024-05-01 17:15:00,2024-05-01 21:05:00,2024-05-01 20:55:00,2024-05-01 21:08:00,HTN,...,2024-05-01 17:34:40,2024-05-01 17:34:52,HTN,XIY,80.12896,38.97903,10698.0,850.0,19.0,2710.176
1,437062891,2024-05-01 00:00:00,MU,2386,2024-05-01 17:10:00,2024-05-01 17:15:00,2024-05-01 21:05:00,2024-05-01 20:55:00,2024-05-01 21:08:00,HTN,...,2024-05-01 17:35:40,2024-05-01 17:35:52,HTN,XIY,80.23151,39.07590,10698.0,855.0,62.0,2701.429
2,437062891,2024-05-01 00:00:00,MU,2386,2024-05-01 17:10:00,2024-05-01 17:15:00,2024-05-01 21:05:00,2024-05-01 20:55:00,2024-05-01 21:08:00,HTN,...,2024-05-01 17:36:30,2024-05-01 17:36:40,HTN,XIY,80.35263,39.10616,10706.0,849.0,79.0,2690.673
3,437062891,2024-05-01 00:00:00,MU,2386,2024-05-01 17:10:00,2024-05-01 17:15:00,2024-05-01 21:05:00,2024-05-01 20:55:00,2024-05-01 21:08:00,HTN,...,2024-05-01 17:37:59,2024-05-01 17:38:10,HTN,XIY,80.60024,39.15326,10690.0,857.0,79.0,2668.635
4,437062891,2024-05-01 00:00:00,MU,2386,2024-05-01 17:10:00,2024-05-01 17:15:00,2024-05-01 21:05:00,2024-05-01 20:55:00,2024-05-01 21:08:00,HTN,...,2024-05-01 17:38:59,2024-05-01 17:39:10,HTN,XIY,80.75726,39.18255,10713.0,855.0,79.0,2654.682
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287616,436968144,2024-05-15 00:00:00,MU,2106,2024-05-15 10:00:00,2024-05-15 10:04:00,2024-05-15 12:00:00,2024-05-15 11:44:00,2024-05-15 12:00:00,PKX,...,2024-05-15 11:56:56,2024-05-15 11:57:07,PKX,XIY,108.76131,34.43190,0.0,29.0,227.0,9.609
287617,436968144,2024-05-15 00:00:00,MU,2106,2024-05-15 10:00:00,2024-05-15 10:04:00,2024-05-15 12:00:00,2024-05-15 11:44:00,2024-05-15 12:00:00,PKX,...,2024-05-15 11:57:56,2024-05-15 11:58:07,PKX,XIY,108.75837,34.43160,0.0,22.0,317.0,9.411
287618,436968144,2024-05-15 00:00:00,MU,2106,2024-05-15 10:00:00,2024-05-15 10:04:00,2024-05-15 12:00:00,2024-05-15 11:44:00,2024-05-15 12:00:00,PKX,...,2024-05-15 11:58:59,2024-05-15 11:59:07,PKX,XIY,108.75590,34.43239,0.0,18.0,230.0,9.346
287619,436968144,2024-05-15 00:00:00,MU,2106,2024-05-15 10:00:00,2024-05-15 10:04:00,2024-05-15 12:00:00,2024-05-15 11:44:00,2024-05-15 12:00:00,PKX,...,2024-05-15 11:59:57,2024-05-15 12:00:07,PKX,XIY,108.75369,34.43276,0.0,14.0,351.0,9.262
287620,436968144,2024-05-15 00:00:00,MU,2106,2024-05-15 10:00:00,2024-05-15 10:04:00,2024-05-15 12:00:00,2024-05-15 11:44:00,2024-05-15 12:00:00,PKX,...,2024-05-15 12:00:34,2024-05-15 12:00:46,PKX,XIY,108.75433,34.43325,0.0,0.0,47.0,9.343

In [11]:
print(merged_data2.columns)

Index(['flt_id', 'flt_std_dt_bj', 'carrier_iata_cd', 'flt_nbr',
       'flt_std_dttm_bj', 'flt_atd_dttm_bj', 'flt_sta_dttm_bj',
       'flt_ata_dttm_bj', 'flt_act_block_on_dttm_bj', 'sch_dep_apt',
       'act_dep_apt', 'sch_arr_apt', 'act_arr_apt', 'month_of_year',
       'week_of_year', 'day_of_week', 'day_of_year', 'plan_dest_minutes',
       'plan_fly_minutes', 'real_fly_minutes', 'real_taxiing_minutes',
       'real_block_minutes', 'aircraft_mkt_type', 'flt_dt_bj', 'fn2', 'ft',
       're', 'source_type', 'utc_time', 'source_time', 'updated_time',
       'orig_airport_cd', 'dest_airport_cd', 'lon', 'lat', 'he', 'gv', 'co',
       'distance'],
      dtype='object')

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

#预测时间差是否小于30分钟并计算准确率
merged_data2['flt_ata_dttm_bj'] = pd.to_datetime(merged_data2['flt_ata_dttm_bj'])
merged_data2['source_time'] = pd.to_datetime(merged_data2['source_time'])

merged_data2['时间差分钟'] = (merged_data2['flt_ata_dttm_bj'] - merged_data2['source_time']).dt.total_seconds() / 60

merged_data2['时间差小于30'] = (merged_data2['时间差分钟'] < 30).astype(int)

features = merged_data2.drop(columns=['flt_id', 'month_of_year', 'week_of_year', 'day_of_week', 'day_of_year', 'flt_ata_dttm_bj', 'source_time', '时间差分钟', '时间差小于30'])
features = features.select_dtypes(include=[np.number])

target = merged_data2['时间差小于30']

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.3, random_state=42)

model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("准确率:", accuracy)

准确率: 0.9866260270956227